{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

    <ul>
        <li>Your controller at <code><a href="{{ path('app_security_login')}}">login</a></code></li>
        <li>Your controller at <code><a href="{{ path('app_register')}}">register</a></code></li>
        <li>Your controller at <code><a href="{{ path('app_forgot_password_request')}}">reset password</a></code></li>
    </ul>
</div>
{% endblock %}
